VITE_WARFRAME_MARKET_API_BASE_URL=https://api.warframe.market/v2
VITE_WARFRAME_MARKET_ASSET_BASE_URL=https://warframe.market/static/assets
VITE_WARFRAME_MARKET_LANGUAGE=en
VITE_WARFRAME_MARKET_PLATFORM=pc
VITE_WARFRAME_MARKET_CROSSPLAY=true
